<body>
    <div class="card login">
        <div class="forms">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">E-mail</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="E-mail">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Password</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
            </div>
            <div class="btn btn-grad">Log in</div>
        </div>
    </div>
</body>