<body>
    <div class="card login">
        <form [formGroup]="loginForm" class="forms">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">E-mail</label>
                <input type="text" class="form-control" formControlName="login" id="formGroupExampleInput" placeholder="E-mail">

                <label for="formGroupExampleInput2" class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password" id="formGroupExampleInput2" placeholder="Password">
            </div>
        </form>
        <button type="submit" class="btn btn-grad" (click)="submit()">Log in</button>
    </div>
    <h1 *ngIf="error" class="error">Wrong credentials!</h1>
</body>