<body>
    <div class="card login">
        <div class="forms">
            <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Password" aria-label="Password">
            </div>
            <div class="btn btn-grad">Sign up</div>
        </div>
    </div>
</body>